.tableRow {
  position: relative;
}

.sum {
  color: #7bcbfc;
}

.deleteButton {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(50%, -50%);
  width: 16px;

  svg {
    fill: #ff2150;
    transition: all 0.3s;

    &:hover {
      fill: #ff718f;
    }
  }
}
